# 참고 링크
https://tjansry354.tistory.com/10
## 277p

## R기반 참고
https://kerpect.tistory.com/160

### 데이터처리에 필요한 것들 임포트

In [3]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

### 데이터 불러오기

In [35]:
df_raw1 = pd.read_csv("jeju_sales.csv", parse_dates=['purchase_date','supply_date'])
df_raw1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273322 entries, 0 to 273321
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   customer_id         273322 non-null  object
 1   purchase_id         273322 non-null  object
 2   store_id            273322 non-null  object
 3   purchase_yearmonth  273322 non-null  object
 4   purchase_weekday    273322 non-null  object
 5   purchase_hour       273322 non-null  int64
 6   purchase_date       273322 non-null  datetime64[ns]
 7   purchase_time       273322 non-null  object
 8   supply_date         273322 non-null  datetime64[ns]
 9   item_id             273322 non-null  object
 10  item_g_l            273322 non-null  object
 11  item_g_m            273322 non-null  object
 12  item_g_s            273322 non-null  object
 13  item_name           273322 non-null  object
 14  purchase_cnt        273322 non-null  int64
 15  unit_cost           273322 non-null  int64
 16  purchase_amt        273322 non-null  int64
dtypes: datetime64[ns](2), int64(4), object(11)
memory usage: 35.4+ MB

In [5]:
df1 = df_raw1.loc[:,'item_g_l'] #대분류

# 참고링크
https://hezzong.tistory.com/23

In [28]:
df1
df1=set(df1) # 중복을 제거하기 위해서 set을 사용
df1

{'간식', '반찬', '양념/가루', '주곡', '채소', '축산물'}

In [58]:
enc = TransactionEncoder()
df_raw_enc = enc.fit_transform(X = set(df1)) # 반영이 안 됨.

df_asso = pd.DataFrame(df_raw_enc, columns = enc.columns_)
df_asso.head()

,/,가,간,곡,념,루,물,반,산,소,식,양,주,찬,채,축
0,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False
2,True,True,False,False,True,True,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False

In [60]:
v_min_sup = 0.1 # 유의미한 결과치가 아님.
df_freq = apriori(df_asso, min_support = v_min_sup, use_colnames = True)
df_freq.round(3)

    support         itemsets
0     0.167              (/)
1     0.167              (가)
2     0.167              (간)
3     0.167              (곡)
4     0.167              (념)
5     0.167              (루)
6     0.167              (물)
7     0.167              (반)
8     0.167              (산)
9     0.167              (소)
10    0.167              (식)
11    0.167              (양)
12    0.167              (주)
13    0.167              (찬)
14    0.167              (채)
15    0.167              (축)
16    0.167           (/, 가)
17    0.167           (/, 념)
18    0.167           (루, /)
19    0.167           (양, /)
20    0.167           (념, 가)
21    0.167           (루, 가)
22    0.167           (양, 가)
23    0.167           (식, 간)
24    0.167           (곡, 주)
25    0.167           (루, 념)
26    0.167           (양, 념)
27    0.167           (루, 양)
28    0.167           (산, 물)
29    0.167           (물, 축)
30    0.167           (찬, 반)
31    0.167           (산, 축)
32    0.167           (소, 채)
33    0.167        (/, 념, 가)
34    0.167        (루, /, 가)
35    0.167        (양, /, 가)
36    0.167        (루, /, 념)
37    0.167        (양, /, 념)
38    0.167        (루, 양, /)
39    0.167        (루, 념, 가)
40    0.167        (양, 념, 가)
41    0.167        (루, 양, 가)
42    0.167        (루, 양, 념)
43    0.167        (산, 물, 축)
44    0.167     (루, /, 념, 가)
45    0.167     (양, /, 념, 가)
46    0.167     (루, 양, /, 가)
47    0.167     (루, 양, /, 념)
48    0.167     (루, 양, 념, 가)
49    0.167  (양, /, 가, 루, 념)

In [33]:
df2 = df_raw1.loc[:,'item_g_m'] #중분류
set(df2)

{'가루',
 '과일채소',
 '과자',
 '기름/식초',
 '김장채소',
 '김치',
 '꿀',
 '닭',
 '돼지',
 '두부/유부',
 '떡',
 '말린나물/건재',
 '멥쌀',
 '밀가공',
 '밑반찬',
 '버섯',
 '빵',
 '뿌리채소',
 '소금',
 '소스/기타양념',
 '식사대용',
 '쌈채소류',
 '양념채소',
 '어묵/묵',
 '열매채소',
 '오리',
 '유정란',
 '유제품',
 '육가공',
 '잎/줄기채소',
 '잎채소',
 '장',
 '잼/병조림/기타',
 '절임/장아찌',
 '즉석조리',
 '찹쌀',
 '특용작물',
 '한우'}

In [12]:
enc = TransactionEncoder()
df_raw_enc = enc.fit_transform(X = df2)

df_asso = pd.DataFrame(df_raw_enc, columns = enc.columns_)
df_asso.head()

,/,가,건,공,과,금,기,김,꿀,나,...,찌,찬,찹,채,초,치,타,특,품,한
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
v_min_sup = 0.2
df_freq = apriori(df_asso, min_support = v_min_sup, use_colnames = True)
df_freq.round(3)

   support itemsets
0    0.259      (소)
1    0.231      (채)
2    0.231   (소, 채)

In [32]:
df3 = df_raw1.loc[:,'item_g_s']
set(df3) #소분류

{'가공소금',
 '가는무말림',
 '가래떡',
 '가시오이',
 '가지',
 '가지말림',
 '간장',
 '간편요리',
 '간편조리면',
 '갓',
 '갓(김치용)',
 '갓끈동부',
 '건고추',
 '건도라지',
 '고구마순',
 '고구마줄기말림',
 '고시히까리',
 '고추',
 '고추장',
 '고춧가루',
 '고춧잎',
 '곡식가루',
 '곤드레나물',
 '곤드레잎',
 '곰취',
 '곰취말림',
 '공심채',
 '과채가루',
 '국.찌개',
 '국수',
 '근대',
 '금이버섯',
 '급식용',
 '기름',
 '기타',
 '기타(냉동 등)',
 '기타양념',
 '기타채소',
 '김가공',
 '깐강낭콩',
 '깐더덕',
 '깐도라지',
 '깻단',
 '깻잎',
 '꽈리고추',
 '꿀',
 '꿀부산물',
 '냉동떡',
 '냉동찰옥수수',
 '냉이',
 '노각오이',
 '노루궁뎅이',
 '노루궁뎅이버섯',
 '눈개승마',
 '느타리버섯',
 '늙은호박',
 '단과자빵',
 '단호박',
 '달래',
 '닭가공',
 '당근',
 '대용량물품(밀가공)',
 '대용량물품(빵)',
 '대용량물품(육가공)',
 '대용량물품(정육)',
 '대파',
 '더덕',
 '돌나물',
 '동물복지 유정란',
 '동치미무',
 '돼지가공',
 '돼지감자',
 '된장',
 '두부',
 '딸기',
 '땅두릅',
 '땅콩나물',
 '떡',
 '라디치오',
 '라면',
 '로메인',
 '루꼴라',
 '마',
 '마늘',
 '마늘쫑',
 '마른표고버섯',
 '만가닥버섯',
 '만두',
 '말린고사리',
 '말린곤드레나물',
 '말린모싯대나물',
 '말린산나물모음',
 '말린삼잎국화나물',
 '머위대',
 '머위잎',
 '메론',
 '메주',
 '멥쌀',
 '면/기타',
 '명이나물',
 '모싯대나물',
 '목이버섯',
 '무',
 '무말림',
 '무순',
 '무시래기',
 '무침',
 '무항생제(냉장)',
 '무항생제닭',
 '무항생제돼지',
 '무항생제오리',
 '묵',
 '미나리',
 '미니단호박',
 '미니파프리카',
 '바질',
 '반디나물',
 '반찬/기타',
 '방울토마토',
 '방풍나물',
 '배추',
 '백미',
 '베타쌈배추',
 '병조림/기타',
 '보리살림(냉장)',
 '보리살림돼지',
 '보리순',
 '볶음',
 '봄동',
 '부각/튀각',
 '부추',
 '브로컬리',
 '브로컬리곁순말림',
 '비름나물',
 '비타민채소',
 '빙과',
 '빵',
 '뽕잎나물',
 '산나물모음',
 '산딸기',
 '산마',
 '삶은고사리',
 '삶은무시래기',
 '삼',
 '삼잎국화나물',
 '상추',
 '상황버섯',
 '새송이버섯',
 '샐러리',
 '생강',
 '생도라지',
 '생면',
 '생숙면',
 '생즙용신선초',
 '생즙용케일',
 '생채',
 '생취나물',
 '생토란줄기',
 '생표고버섯',
 '선식/생식',
 '세발나물',
 '소스',
 '솔부추',
 '수박',
 '숙면',
 '숙주나물',
 '순무',
 '스낵',
 '시금치',
 '식빵, 식사대용',
 '식사대용/기타',
 '식육추출가공',
 '식초',
 '신선초',
 '쌈배추',
 '쌈양상추',
 '쌈채소모음',
 '쌈케일',
 '쑥',
 '쑥갓',
 '씀바귀',
 '씨리얼',
 '아스파라거스',
 '아욱',
 '아이스크림',
 '안심대안한우',
 '알로에',
 '알비트',
 '알타리무',
 '알토란',
 '앙금크림빵',
 '애호박',
 '애호박말림',
 '야콘',
 '양념가루',
 '양배추',
 '양상추',
 '양송이버섯',
 '양파',
 '어린잎채소',
 '어묵',
 '얼갈이',
 '연근',
 '연근말림',
 '연근채',
 '열무',
 '엿/양갱/기타',
 '영지버섯',
 '오가피순',
 '오리가공',
 '오분도미',
 '오이',
 '옥수수',
 '완두콩',
 '완숙토마토',
 '요구르트',
 '우리보리살림닭',
 '우엉',
 '우엉채',
 '우유/산양유',
 '울금',
 '월동무',
 '월동배추',
 '유기한우',
 '유부',
 '유정란',
 '유정란 안심대안사료',
 '유정란 재래닭',
 '유정란초란',
 '유채나물',
 '일반 닭',
 '일반 돼지',
 '일반 한우',
 '잎마늘',
 '장류/기타',
 '장아찌',
 '재래종중파',
 '잼',
 '적갓',
 '적양배추',
 '절임',
 '절임배추',
 '조림',
 '죽',
 '죽순',
 '중파',
 '즉석떡',
 '즙용브로컬리',
 '쪽파',
 '찐빵,호떡,전통',
 '차요테',
 '참나물',
 '참두릅',
 '참외',
 '찹쌀',
 '채도라지',
 '채심',
 '천일염',
 '청갓',
 '청경채',
 '초석잠',
 '취나물말림',
 '치즈/기타',
 '치커리',
 '칠분도미',
 '케이크,롤,선물',
 '콜라비',
 '콜리플라워',
 '콩',
 '콩가공/기타',
 '콩나물',
 '쿠키',
 '토란줄기말림',
 '토종닭',
 '토종유정란',
 '통연근',
 '파프리카',
 '팽이버섯',
 '페스츄리류',
 '포기상추',
 '포기생채',
 '포장무',
 '포장배추',
 '표고버섯',
 '프리믹스',
 '피망',
 '피자/핫도그',
 '피클용오이',
 '한과/유과',
 '한우',
 '한우가공',
 '한재미나리',
 '현미',
 '호박',
 '호박잎',
 '홍피망',
 '홍화나물',
 '황기',
 '황토쥐눈이콩콩나물'}

In [17]:
enc = TransactionEncoder()
df_raw_enc = enc.fit_transform(X = df3)

df_asso = pd.DataFrame(df_raw_enc, columns = enc.columns_)
df_asso.head()

,,(,),",",.,/,가,각,간,갈,...,피,한,핫,항,현,호,홍,화,황,히
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [34]:
v_min_sup = 0.1
df_freq = apriori(df_asso, min_support = v_min_sup, use_colnames = True)
df_freq.round(3)

    support         itemsets
0     0.167              (/)
1     0.167              (가)
2     0.167              (간)
3     0.167              (곡)
4     0.167              (념)
5     0.167              (루)
6     0.167              (물)
7     0.167              (반)
8     0.167              (산)
9     0.167              (소)
10    0.167              (식)
11    0.167              (양)
12    0.167              (주)
13    0.167              (찬)
14    0.167              (채)
15    0.167              (축)
16    0.167           (/, 가)
17    0.167           (/, 념)
18    0.167           (루, /)
19    0.167           (양, /)
20    0.167           (념, 가)
21    0.167           (루, 가)
22    0.167           (양, 가)
23    0.167           (식, 간)
24    0.167           (곡, 주)
25    0.167           (루, 념)
26    0.167           (양, 념)
27    0.167           (루, 양)
28    0.167           (산, 물)
29    0.167           (물, 축)
30    0.167           (찬, 반)
31    0.167           (산, 축)
32    0.167           (소, 채)
33    0.167        (/, 념, 가)
34    0.167        (루, /, 가)
35    0.167        (양, /, 가)
36    0.167        (루, /, 념)
37    0.167        (양, /, 념)
38    0.167        (루, 양, /)
39    0.167        (루, 념, 가)
40    0.167        (양, 념, 가)
41    0.167        (루, 양, 가)
42    0.167        (루, 양, 념)
43    0.167        (산, 물, 축)
44    0.167     (루, /, 념, 가)
45    0.167     (양, /, 념, 가)
46    0.167     (루, 양, /, 가)
47    0.167     (루, 양, /, 념)
48    0.167     (루, 양, 념, 가)
49    0.167  (양, /, 가, 루, 념)

costomer_id 별로 쪼개서 분석해야 할 거 같음 >> 시도했으나 객체 타입 데이터라서 배열에 넣을 수가 없었음.